$transparent: #00000000;

$green_600: #5C9C62;
$green: #73C37A;
$green_400: #8FCF95;
$green_300: #8FCF95;
$green_200: #C7E7CA;
$green_100: #E3F3E4;

$red: #D95562;
$red_400: #E17781;
$red_300: #E899A1;
$red_200: #F0BBC0;
$red_100: #F7DDE0;

$orange: #FFBD00;
$orange_400: #FFCA33;
$orange_300: #FFD766;
$orange_200: #FFE599;
$orange_100: #FFF2CC;


$white: #FFF;
$gray_50: #F6F6F6;
$gray_100: #E1E1E1;
$gray_200: #CCCCCC;
$gray_300: #B7B7B7;
$gray_400: #A1A1A1;
$gray_500: #8C8C8C;
$gray_600: #747474;
$gray_700: #5C5C5C;
$gray_800: #343434;
$gray_900: #272727;
$black: #000;

$blue_50: #E6F6FC;
$blue_100: #CCECF9;
$blue_200: #99D9F4;
$blue_300: #66C7EE;
$blue_400: #33B4E9;
$blue_500: #00A1E3;
$blue_600: #0081B6;
$blue_700: #006188;
$blue_800: #00405B;
$blue_900: #00202D;

$neutral: #F6F9FF;

$oldPrimary: #252B3F;
$oldPrimaryHover: #2F3B56;

$primary: #5E58F8;
$primary_400: #7E79F9;
$primary_200: #BFBCFC;
$primary_100: #DFDEFE;
$primary_50: #EFEEFE;
$primary_25: #F5F5FF;

$secondary: $blue_400;
$secondaryLight: $blue_300;
